<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ResourceSystem DataSource -->
	<bean id="resDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- Connection pool configuration -->
		<property name="initialPoolSize" value="5" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="100" />
		<property name="acquireIncrement" value="3" />
		<property name="maxIdleTime" value="300" />
		<property name="idleConnectionTestPeriod" value="120" />
	</bean>

	<!--ResourceSystem MyBatis session -->
	<bean id="resMybatisSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="resDataSource" />
		<property name="configLocation" value="classpath:applicationContext-mybatis-res.xml" />
		<property name="mapperLocations">
			<array>
				<value>classpath:resume/mybatis/mapper/*Mapper.xml</value>
				<value>classpath:shiro/mybatis/mapper/*Mapper.xml</value>
			</array>
		</property>

	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="resume.mybatis.dao,shiro.mybatis.dao" />
		<property name="sqlSessionFactoryBeanName" value="resMybatisSessionFactory" />
	</bean>

	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="resTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="resDataSource" />
	</bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="resTransactionManager" />
</beans>
